.home{
    height: 100vh;
    background: url('../../assets/Homepage.jpg') no-repeat center center/cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    width: 100%;
    padding-left: 20%;

}

.buttons .weather{
    margin-right: 50px;
}